FORMAT: 1A
HOST: https://api.ambientweather.net/

# Ambient Weather API

Access an Ambient Weather user's weather station data programmatically using our REST API

##### Authentication

Two API Keys are required for all API requests: 

+ `applicationKey` - identifies the developer / application. To request an application key please email `support@ambientweather.com`
+ `apiKey` - grants access to past/present data for a given user's devices.  A typical consumer-facing application will initially ask the user to create an `apiKey` on thier AmbientWeather.net account page (https://dashboard.ambientweather.net/account) and paste it into the app.  Developers for personal or in-house apps will also need to create an apiKey on their own account page.

##### Rate Limiting

API requests are capped at 1 request/second for each user's apiKey and 3 requests/second per applicationKey.  When this limit is exceeded, the API will return a 429 response code. Please be kind to our servers :)

##### Helper Libraries

+ Node.js - https://github.com/owise1/ambient-weather-api
+ PHP (Laravel) - https://github.com/Jafo232/ambient_api
+ Go - https://github.com/lrosenman/ambient

##### Other Resources
+ API Wiki - https://github.com/ambient-weather/api-docs/wiki
+ This documentation's repository - https://github.com/ambient-weather/api-docs

## Devices [/v1/devices{?apiKey,applicationKey}]

### List User's Devices [GET]

Provides a list of the user's available devices along with each device's most recent data.

+ Parameters
  + applicationKey (required) - Application Key
  + apiKey (required) - API Key for user account

+ Response 200 (application/json)

        [
            {
                "macAddress": "00:00:00:00:00:00",
                "info": {
                  "name": "My Weather Station",
                  "location": "Home"
                },
                "lastData": {
                    "dateutc": 1515436500000,
                    "date": "2018-01-08T18:35:00.000Z",
                    "winddir": 58,
                    "windspeedmph": 0.9,
                    "windgustmph": 4,
                    "maxdailygust": 5,
                    "windgustdir": 61,
                    "winddir_avg2m": 63,
                    "windspdmph_avg2m": 0.9,
                    "winddir_avg10m": 58,
                    "windspdmph_avg10m": 0.9,
                    "tempf": 66.9,
                    "humidity": 30,
                    "baromrelin": 30.05,
                    "baromabsin": 28.71,
                    "tempinf": 74.1,
                    "humidityin": 30,
                    "hourlyrainin": 0,
                    "dailyrainin": 0,
                    "monthlyrainin": 0,
                    "yearlyrainin": 0,
                    "feelsLike": 66.9,
                    "dewPoint": 34.45380707462477
                }
            }
        ]

## Device Data [/v1/devices/{macAddress}{?apiKey,applicationKey,endDate,limit}]

+ Parameters
  + macAddress (required) - device Mac Address
  + apiKey (required) - API Key for user account
  + applicationKey (required) - Application Key
  + endDate (optional) - The most recent datetime. Results descend from there. If left blank, the most recent results will be returned.  Date format should be in milliseconds since the epoch or string representations outlined here: https://momentjs.com/docs/#/parsing/string/. Note: datetimes are stored in UTC. 
  + limit (optional, number) - The maximum number of results to return (max: 288)
      + Default: 288

  
### Query Device Data [GET]

Fetch data for a given device. Data is stored in 5 minute increments.

+ Response 200  (application/json)

        [
            {
                "dateutc": 1515436500000,
                "date": "2018-01-08T18:35:00.000Z",
                "winddir": 58,
                "windspeedmph": 0.9,
                "windgustmph": 4,
                "maxdailygust": 5,
                "windgustdir": 61,
                "winddir_avg2m": 63,
                "windspdmph_avg2m": 0.9,
                "winddir_avg10m": 58,
                "windspdmph_avg10m": 0.9,
                "tempf": 66.9,
                "humidity": 30,
                "baromrelin": 30.05,
                "baromabsin": 28.71,
                "tempinf": 74.1,
                "humidityin": 30,
                "hourlyrainin": 0,
                "dailyrainin": 0,
                "monthlyrainin": 0,
                "yearlyrainin": 0,
                "feelsLike": 66.9,
                "dewPoint": 34.45380707462477
            }
        ]